.login-page{
    width: 100vw;
    height: 105vh;
    background: url(../../../public/images/mars.jpeg);
    background-size: cover;
    margin-left: -20.6vw;
    margin-top: -27px;
    background-color: rgba(0, 0, 0, 0.199);
    background-blend-mode: multiply;
    background-attachment: fixed;
}